

// Hero Section CSS
.hero {
  background-color: $light;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding-right: 24px;
    padding-left: 24px;



    &--left {
      width: 100%;
      line-height: 1.2;

    }

    &--left h1 {
      font-size: 4rem;
      color: $yellow;

    }

    &--left h2 {
      font-size: 4rem;
      color: $dark;

    }

    &--left p {
      font-size: 2rem;
      color: $dark;
      margin-top: 1rem;
      font-weight: 700;


    }

    &--right {
      text-align: center;
    }

    &--img {
      height: 100%;
      width: 161%;
    }
  }
}
