.feature
{
    &__header{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        padding-top: 20px;
        
        h3{
            padding-left: 10px;
            padding-top: 12px;
        }

       
    }

    p{
        padding-left: 66px;
    }

 
}