$light: #f7f7f7;
$dark: hsl(0, 1%, 13%);
$yellow: #f3b90b;
$orangeRed: #fb4b4e;
$blue: #2541b2;
$offWhite:rgba(107, 102, 102, 0.911);


$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);